.forecast-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5rem 15px;
    margin-top:30px;
    min-height: 500px;
}

.forecast {
     width: 200px;
    height: 350px;
    margin: auto;
    margin-top:20px;
    margin-bottom: 25px;
    border-radius: 5px 5px 0 0;
}

li {
    margin: 10px 0;
}

li:nth-Child(1) {
    background:gold;
    border-radius: 5px 5px 0 0;
    margin-top:0;
}

/* @media(max-width: 520px){
    .forecast {
        width:250px !important
    }
} */