.link:hover {
    cursor:pointer;
}

.link {
    color:black;
}

.input-box {
    max-width: 40%;
    min-width: 260px;
    text-align: center;
    border:none;
}

.search {
    display: inline-block;
    margin: 10px 5px 10px 0;
    
}

input:focus {
    outline:none;
}

.search-bar {
    background: white;
    width: 20em;
    margin: auto;
    border-radius: 25px;
}

@media(max-width:390px) {
    
    .search {
        margin-bottom:0;
    }
    .search-btn {
        margin-top:0;
        
    margin-bottom: 10px;
    }

    .input-box {
        min-width:unset;
        max-width: 100%;
    }
    
    .search-bar {
        width:70%
    }
}