.nav {
    padding-top: 15px;
}
.app-name {
    float:left;
    display:inline-block;
}

.el {
    margin:0 10px
}

.date-time {
    float:right;
    margin-right:10px;
    margin-bottom: 25px;

}
.location-statement {
    margin: 20px 0 20px 15px;
}

@media(max-width:800px) {
    
   .date-time {
       float:unset;
   }
   
   .app-name {
       float:unset;
   }
   
   .location-statement {
       margin: 20px 0;
   }

}