.app-name {
    float:left;
}

.date-time {
    float:right;

}
.location-statement {
    margin: 20px 0;
}

@media(max-width:690px) {
    
   .date-time {
       float:unset;
   }
   
   .app-name {
       float:unset;
   }
}