
html, body {
    height: 100vh;
    width:auto;
}

html {
    background:#009fff;
    overflow-x: hidden;
    padding:15px;
}

#root {
    text-align:center;


}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    letter-spacing: 0.01rem;
    color:white;
    display:block;
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 0.5rem 15px;
    border-top: #EBF2F6 1px solid;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    text-align: center;
}

footer>a {
    text-decoration:none;
    color:white;
}

footer>a:hover{
    cursor:pointer;
}

.App {
    text-align:center;
    width:auto;
    overflow: hidden;
    max-width: auto;
    padding:0 0;
  }